body {
    background: url("back1.jpg") no-repeat center center/cover;
    margin: 0;
    font-family: Arial;
    background: #b9b5b5;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgb(203, 238, 220);
}

.logo {
    font-weight: bold;
}

.menu a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

/* underline effect */
.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: blue;
    transition: 0.4s;
}

/* hover chesthe underline ravali */
.menu a:hover::after{
    width: 100%;
}

/* hover chesthe text colour change */
.menu a:hover{
    color: blue;
}


/* Hero Section */
.hero {
     background: url("back1.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* TOP alignment fix */
    padding: 50px;
}

/* Left Side */
.text {
    width: 50%;
}

.text h1 {
    font-size: 50px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Right Side */
.image {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Profile Image */
.profile-img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #333;
    margin-bottom: 15px;
}

/* Contact Section */
.contact {
    text-align: center;
    margin-top: 10px;
}

.contact h2 {
    margin-bottom: 10px;
}

/* Social Icons */
.social {
    margin-top: 15px;
}

.social img {
    width: 40px;
    margin: 10px;
    transition: 0.3s;
}

.social img:hover {
    transform: scale(1.2);
}

.hidden{
    display: none;
}
.section{
    position: absolute;
    top: 60px;
    left: 700px;

    width: 300px;
    padding: 150px;

    background: rgba(228, 152, 10, 0.2);
    backdrop-filter: blur(10px);

    border-radius: 500px;
    color: rgb(25, 26, 25);

    display: none;
}